.container
{
    max-width: 1024px;
    margin: auto;
}

.imgmargin
{
    margin-right: 25px;
    
}
#main-bio
{
    float: left;
    width: 70%;
}

#contact-info
{
    float: left;
    width: 30%;
    line-height: 150%;
    white-space: nowrap;
}

.link
{
    color: #d10234;
}

#bio-image
{
    float: left;
    width: 200px;
    margin: 20px,20px,20px,20px;

}
html, body
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
}

header
{
    background-color: #333333;
    margin: 0;
}

h1
{
    color: #eee;
    font-size: 28px;
    text-align: center;
    margin: 0;
    }

h2
{
    font-size: 24px;
}